

body{
    background-color: #C0EEE4;
    color: #FF9E9E;
}

h1{
    display: block;
    text-align: center;
}

hr{
    
    color: #F8F988;
    border-width: 4%;
    width: 4%;
    height: 2px;
    border-style: hidden hidden dotted hidden;
    border-width: 5px;
}

div{
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: 20px;
    border: #FF9E9E solid 2px;
    text-align: center;
}

    div img{
        width: 40%;
    }


    